<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="acom.example.myapplicationa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationa"
        android:usesCleartextTraffic="true">
        <activity android:name=".IHM.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".IHM.ActivityCorrespondant">
        </activity>
        <activity android:name=".IHM.PopupAjoutCo"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>
        <activity android:name=".IHM.PopupSuppCo"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>

        <activity android:name=".IHM.ActivityEntreprise"></activity>
        <activity android:name=".IHM.PopupAjoutEn"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>
        <activity android:name=".IHM.PopupSuppEn"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>

        <activity android:name=".IHM.ActivityPoste"></activity>
        <activity android:name=".IHM.PopupAjoutPo"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>
        <activity android:name=".IHM.PopupSuppPo"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>

        <activity android:name=".IHM.ActivitySaison"></activity>
        <activity android:name=".IHM.PopupAjoutSa"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>
        <activity android:name=".IHM.PopupSuppSa"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>

        <activity android:name=".IHM.ActivityDonner"></activity>
        <activity android:name=".IHM.PopupAjoutDo"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>
        <activity android:name=".IHM.PopupSuppDo"
            android:theme="@style/Theme.MyApplicationa.Popup"></activity>
    </application>

</manifest>